In [1]:
##Q1. Create one variable containing following type of data:

In [2]:
s= "shahbaz"

In [3]:
s

'shahbaz'

In [8]:
type(s)

str

In [9]:
a = [1,2,3,4,5, "shah", 12.52, True]

In [10]:
a

[1, 2, 3, 4, 5, 'shah', 12.52, True]

In [11]:
type(a)

list

In [18]:
x = (132.5)

In [19]:
type(x)

float

In [30]:
g = (123.4, 45, "shah", [1,2,3,4,5])

In [31]:
type(g)

tuple

In [ ]:
#Q2. Given are some following variables containing data:

In [32]:
var1= ''

In [33]:
type(var1)

str

In [39]:
var2 = ‘[ DS , ML , Python]’

In [40]:
type(var2)

list

In [49]:
var3 = ['DS', 'ML', 'Phython']

In [50]:
type(var3)

list

In [51]:
var4 = 1

In [52]:
type(var4)

int

In [54]:
#Q3. Explain the use of the following operators using an example:
#(i) / = Division
(#ii) % = Modulo
#(iii) // = Floor Division
#(iv) ** = Power

SyntaxError: incomplete input (734329655.py, line 5)

In [62]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [67]:
s1 = [1, 2, 3, 4, 5, 6, 7, 8]
for x in s1:
    print(x)

1
2
3
4
5
6
7
8

In [76]:
s2 = [1, 2, 3, 4, 5, 6, 7, 8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for x in s2:
    if x % 3 == 0:
        print(x)

3
6
9
12
15
18
21
24

In [ ]:
#A mutable object can be changed after it is created	An immutable object cannot be changed after it is created
#Examples : List, Set, Dictionary

#An immutable object cannot be changed after it is created
#Exg: tuples, int, float, bool

In [78]:
#Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
#element and its data type.

In [79]:
s3 = [1,2,3, "shahbaz", 12.34,True]
for x in s3:
    print x

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)? (3808661359.py, line 3)